body {
    background-color: white;
    font-family: 'Noto Sans JP', sans-serif;
}

.blogTite {
    font-size: 150%;

    font-weight: bold;
    text-align: center;
}

.blogContent {
    margin: 2vh 10vh;
}

.blogAuthor {
    padding: 0px 0px 0px 10px;
    display: flex;
    justify-content: space-between;

}

.comment {
    width: 60%;
}

ul {
    transform: rotate(180deg);
    list-style: none;
    background-color: lightgrey;
    padding: 1% 1%;
    width: 65%;
}

ul>li {
    transform: rotate(-180deg);
    background-color: white;
    padding: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-css {
    background-color: #ff0a54;
    border: none;
    color: white;
    height: 33px;
    cursor: pointer;

}

.btn-css-section {
    color: white;
    width: fit-content;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #ff0a54;
    box-shadow: 1px 5px 10px 5px #ff7096;
}

.myList {
    display: none;
}