body {
    background-color: #ffeedd;
    margin-right: 10px;
    font-family: 'Noto Sans JP', sans-serif;

}

.row {
    justify-content: center;
    padding: 0 2.6%;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.post-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.post-card {
    width: 45%;
    display: flex;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    margin-top: 15px;
    border-radius: 15px;
}

.post-username {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding: 3%;
    color: #adb5bd;
}

.post-content {
    background-color: #dee2e6;
    padding: 10px 20px 0px 16px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.post-title {
    color: #6c757d;
    font-weight: bold;

}

.trash-icon {
    position: absolute;
    right: 15px;
    top: 15px;

}

.trash-icon:hover {
    cursor: pointer;
}

.more-post {
    position: absolute;
    right: 15px;
    bottom: 15px;
    right: 3%;
    padding-top: 10%;


}

.more-post:hover {
    cursor: pointer;
}

.popupDelete {
    display: none;

    /* Could be more or less, depending on screen size */
}

.modal-content3 {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    /* Could be more or less, depending on screen size */
}

#head2 {

    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #000;
}

#yes {
    background-color: red;
    color: white;
    border-color: transparent;
    padding: 5px 10px;
    width: 60px;
    left: 50px;
}

#btns {
    left: 30%;
    display: flex;
    justify-content: space-between;
}

#no {

    background-color: green;
    color: white;
    border-color: transparent;
    padding: 5px 10px;
    width: 60px;
    right: 50px;
}

@media only screen and (max-width: 800px) {
    .post-card {
        width: 80%;
    }
}