body {
    background-color: white;
    font-family: 'Noto Sans JP', sans-serif;
}

.blogTite {
    font-size: 150%;

    font-weight: bold;
    text-align: center;
}


.blogAuthor {
    padding: 0px 0px 0px 10px;
    display: flex;
    justify-content: space-between;
}

.comment {
    width: 60%;
}